{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the Boggle</h1>
    <table class="table table-bordered">
        <tbody>            
            {% for row in board %}
            <tr>
                {% for cell in row %}
                    <td>
                        {{ cell }}
                    </td>    
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form id="make_guess_form" action="">
        Please make a guess <input type="text" name="guess" id="guess" placeholder="Please type in your word">
        <button>Submit</button>
    </form>
    <div id="show_result"></div>
    <div id="show_score">Total score:</div>
{% endblock %}